
<footer class="clearfix text-muted">
    <div class="row">
        <div class="col-md-8">
            <h4 class="page-header no-margin">Application Support</h4>
            <p class="mt-10">If you require any support in completing your application form, or would like prefer to just make an enquiry about a course rather than complete an application form, <a href="@Url.Action("Contact", "Home", new { area = "" })">please contact us.</a></p>
            <small>&copy; @DateTime.Now.Year - Student Portal</small>
        </div>
        <div class="col-md-4">
            <img class="pull-right" src="~/Images/logo.png" id="logo" alt="Student Portal" />
        </div>
    </div>
</footer>