
@{
    ViewBag.Title = "Admissions Management";
}

<h2 class="page-header">Admissions Management</h2>
<p>Welcome to the Admissions Management of the Student Portal. This section is available to only Admissions officers and can be used to:</p>

<ul>
    <li>@Html.ActionLink("Manage student applications", "Default", "ApplicationManagement", new { area = "Admissions" }, null)</li>
</ul>
