To: @ViewBag.To
From: administrator@studentportal.com
Subject: @ViewBag.Subject

<p>Hello @ViewBag.Name</p>

<p>
    This is simply a test!
</p>

<p>
    <strong>And it's coming from my email service!</strong>
</p>

<p>Kind regards,<br/>Blackburn College</p>